<%= content_tag(:div, :id => :footer) do %>

	<%= content_tag(:div, :class => :container_12) do %>
		<p><%= link_to "CGU", cgu_path %> | <%= link_to "Source", source_path %> | <%= link_to "Contact", "contact" %></p>
		<p>Copyright &copy; 2013 - Robin Dupret</p>
		<p>Les articles du blog sont placés sous licence CC-BY-NC-SA</p>
	<% end %>
    
<% end %>