<div class="grid_4 sidebar omega">
  <h3>Categories</h3>

  <ul>
    <% categories = @categories ? @categories : Category.all %>
      <% for category in categories %>
        <li>
          <%= link_to category.name, category_path(category) %>
        </li>
      <% end %>
    <%= clearer %>
  </ul>

  <h3>Recherche</h3>
    <%= form_tag "/", :method => :get do %>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag "", :name => nil, :id => "submit" %>
    <% end %>
</div>