<% title "Contact" %>

<h1>Me contacter</h1>

<%= simple_form_for @message, :url => "" do |f| %>
  <%= f.input :name, :label => "Votre nom" %>
  <%= f.input :email, :label => "Votre e-mail" %>
  <%= f.input :message, :as => :text %>

  <%= f.button :submit, :value => "Envoyer" %>
<% end %>