<!DOCTYPE html>
<html>

  <head>
    <title><%= yield(:title) %> - Robin Dupret</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= auto_discovery_link_tag :atom, "/feed" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render :partial => "header" %>

    <div class="container_12" id="container">
      <%= content_tag(:div, notice, :class => :notice) if notice %>
      <%= content_tag(:div, alert, :class => :alert) if alert %>

      <%= main_grid do %>
        <%= yield %>
      <% end %>
      <%= render :partial => "sidebar" if show_or_index? %>
    </div>

    <%= clearer %>

    <%= render :partial => "footer" %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
